{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/fibonnaci_dots.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">This database is designed by students for students! Please use this searchable database to identify current opportunities for you to work on COVID-19 research and relief efforts at UT and beyond. Select the contact button to get in touch with the initiative leader. If you know of other opportunities or have feedback for us, please submit your ideas through the form at the bottom of the page. Thank you!</p>
  <a href="/dashapp/" class="dash-link">
    <span>Start Looking</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>

<div class="card">
  <h2 class="title">Feedback Form</h2>
  <form method="POST" action="/">
    <div class="form-field">{{ form.body.label }} {{ form.body }}
      {% if form.body.errors %}
        <ul class="errors">
        	{% for error in form.body.errors %}
        		<li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {{ form.submit }}
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div>
          <P>{{ message }}</p>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %} 
</div>
{% endblock %}
